config AW_BREATH_ALGORITHM
	tristate "LED Support for AW21024"
	depends on LEDS_CLASS && I2C
	help
	  this option enables support for the AW21024RGB LED connected
	  through I2C. Say Y to enable support for the AW21024 LED
	  light automatically.

config AW_LAMP_INTERFACE
	tristate "LED Support for AW21024"
	depends on LEDS_CLASS && I2C
	help
	  this option enables support for the AW21024RGB LED connected
	  through I2C. Say Y to enable support for the AW21024 LED
	  light automatically.

config LEDS_AW21024
    tristate "LED Support for AW21024"
    depends on LEDS_CLASS && I2C
    help
        this option enables support for the AW21024 RGB LED connected
        through I2C. Say Y to enable support for the AW21024 LED
        light automatically.


