#ifdef OPLUS_FEATURE_CHG_BASIC
CONFIG_OPLUS_CHG_TEST_KIT=m
#endif /* OPLUS_FEATURE_CHG_BASIC */

CONFIG_MTK_SVP_ON_MTEE_SUPPORT=y
CONFIG_OPLUS_FEATURE_ABNORMAL_FLAG=m
#ifdef OPLUS_ARCH_EXTENDS
CONFIG_SND_SOC_SIA91XX_V3_1_0=m
#CONFIG_OPLUS_MTK_AUDIO_EXT=m
#CONFIG_OPLUS_FEATURE_MM_FEEDBACK=m
CONFIG_MTK_AUDIODSP_DEBUG_SUPPORT=y
#endif

